.employer ul {
  list-style: none;
  padding: 0 1rem;
  margin: 1rem 0 0;
}

.employer li {
  padding: 0 0 1rem 0;
}

.employer .employer-heading {
  padding: 0 0.25rem;
  color: #202020;
}

.employer .employer-name {
  margin: 1rem 0 0;
}

.employer .role-body {
  padding: 0 0 0 0.25rem;
}

@media (min-width: 768px) {
  .employer .role-body {
    padding: 0 0 0 1rem;
  }
}

.employer .role-body .role-heading {
  display: flex;
  align-items: baseline;
  color: #202020;
  margin: 1rem 0 0;
}

.employer .role-body .role-heading .toggle-role-details {
  border: none;
  padding: 0.25rem 0.45rem;
  background: white;
  font-weight: bold;
  color: #202020;
  transition: background-color 250ms ease-out, color 250ms ease-out;
}

.employer .role-body .role-heading .toggle-role-details:hover {
  background-color: #B06B19;
  color: #fff;
}

.employer .role-body .role-heading .role-title {
  margin: 0;
}

@media (min-width: 812px) {
  .employer .role-body .responsibilities {
    max-width: 75%;
  }
}
