.Employer {
  margin: 0;
}

.Employer:last-child {
  margin: 0 0 4rem;
}

.Employer ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.Employer li {
  margin: 0 0 1rem 0;
}

.Employer li:last-child {
  margin: 0;
}

.Employer .employer-heading {
  padding: 0 0.25rem;
  color: #202020;
}

.Employer .employer-name {
  margin: 2rem 0 0.5rem;
}

.Employer:first-of-type .employer-name {
  margin: 1rem 0 0.5rem;
}

.Employer .role-body {
  padding: 0 0 0 0.25rem;
}

.Employer .role-body .role-heading {
  display: flex;
  align-items: center;
  color: #202020;
  margin: 2rem 0 0;
}

.Employer .role-body .role-heading .toggle-role-details {
  border: none;
  font-weight: bold;
  background: #77A1B7;
  color: #fff;
  border-radius: 2px;
  transition: background-color 250ms ease-out, color 250ms ease-out;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 1px 0;
}

.Employer .role-body .role-heading .toggle-role-details:hover,
.Employer .role-body .role-heading .toggle-role-details.toggle-open {
  background: #376e8c;
}

.Employer .role-body .role-heading .toggle-role-details.toggle-open:hover {
  background: #77A1B7;
}

.Employer .role-body .role-heading .role-title {
  margin: 0 0 0 1rem;
  letter-spacing: 2px;
}

.Employer .role-body .responsibilities {
  border-radius: 12px 0 0 12px;
  border-left: 1.5rem solid #77A1B7;
  overflow: hidden;
}

@media (min-width: 812px) {
  .Employer .role-body .responsibilities {
    max-width: 75%;
  }
}
