.header {
  position: relative;
  padding: 1rem;
  background: #376e8c;
  border-radius: 0 0 2px 2px;
}

.header .h1 {
  position: relative;
  z-index: 1;
  padding: 0 0.25rem;
  background: #202020;
  margin: 1rem 1.5rem 1rem 0;
  color: white;
  border-radius: 2px;
}

.header .portrait {
  margin: 0;
}

.header .portrait img {
  position: absolute;
  top: 1rem;
  right: -2rem;
  max-width: 35%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -1px 3px 5px 1px rgba(0, 0, 0, 0.2);
  z-index: 100;;
}

.header .blurb {
  position: relative;
  max-width: 65%;
  padding: 0.25rem;
  margin: 1rem 0 0.5rem;
  background: white;
  color: #202020;
  border-radius: 2px;
}

@media (min-width: 550px) {
  .header .portrait img {
    max-width: 25%;
    right: -1.25rem;
  }
}