.header {
  position: relative;
  padding: 0 1rem;
}

.header .h1 {
  position: relative;
  z-index: 1;
}

.header .portrait {
  margin: 0;
}

.header .portrait img {
  position: absolute;
  top: 1rem;
  right: -2rem;
  max-width: 35%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid;
  box-shadow: -1px 3px 5px 1px rgba(0, 0, 0, 0.2)

  /* img background hex ~ #5CCDEC */
}

.header .blurb {
  position: relative;
  max-width: 65%;
}

@media (min-width: 768px) {
  /* .header {
    display: flex;
    flex-wrap: wrap;
    position: static;
  }

  .header .portrait img {
    position: static;
    max-width: 20%;
  } */
}