.Footer {
  padding: 0 1rem;
}

.Footer .section {
  margin: 0 0 4rem;
}

.Footer h2 {
  padding: 0.125rem 0.5rem;
  background: #376e8c;
  color: white;
  margin: 1rem 0;
}

.Footer p {
  padding: 0 0 0 0.5rem;

  line-height: 1.5;
}

.Footer iframe {
  vertical-align: middle;
}