.employer ul {
  list-style: none;
  padding: 0 1rem;
}

.employer li {
  padding: 0 0 1rem 0;
}

.employer .employer-name {
  margin: 1rem 0 0;
}

.employer .role-body {
  padding: 0 0 0 1rem;
}

.employer .role-body .role-heading {
  display: flex;
  align-items: center;
}

.employer .role-body .role-heading :nth-child(1) {
  margin-right: 1rem;
  
}

.employer .role-body .role-heading .toggle-role-details {
  border: none;
  padding: 0.125rem 0.35rem;
  background-color: #eee;
  border-radius: 50%;
  border: 2px solid;
  font-weight: bold;
}

/* MOUNT / UNMOUNT ANIMATIONS
 * powered by `ReactCSSTransitionGroup`
 */
.role-details-appear {
  max-height: 0;
  transform: translateX(-100vw);
}
.role-details.role-details-appear-active {
  max-height: 80vh;
  transform: translateX(0);
  transition: transform 500ms ease-out 250ms, max-height 250ms ease-out;
}
.role-details-enter {
  max-height: 0;
  transform: translateX(-100vw);
}
.role-details-enter.role-details-enter-active {
  max-height: 80vh;
  transform: translateX(0);
  transition: transform 500ms ease-out 250ms, max-height 250ms ease-out;
}
.role-details-leave {
  max-height: 80vh;
  transform: translateX(0);
}
.role-details-leave.role-details-leave-active {
  max-height: 0;
  transform: translateX(-100vw);
  transition: transform 500ms ease-out, max-height 250ms ease-out 500ms;
}

/* @media (min-width: 812px) {
  .employer {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
} */