.App {
  padding: 1rem 0;
  overflow: hidden;
  transition: padding 500ms ease-out;
}

.App a[target="_blank"] {
  background-color: #000;
  color: #fff;
}

.App a[href*="mailto:"] {
  background-color: orange;
  color: #fff;
}

.App a:hover {
  
}

.App .work {
  padding: 0 1rem;
}

.App .footer {
  padding: 0 1rem;
}

.App .button {
  cursor: pointer;
}