.App-inner {
  padding: 1rem 0;
  
  transition: padding 500ms ease-out;
  position: relative;

  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.App a {
  transition: background-color 250ms ease-out, color 250ms ease-out;
  padding: 0 0.3rem;
}

.App a[target="_blank"] {
  background-color: #000;
  color: #fff;
}

.App a[href*="mailto:"] {
  background-color: orange;
  color: #fff;
  
}

.App a:hover {
  background-color: #5ccdec;
  color: #fff;
}

.App .work {
  padding: 0 1rem;
}

.App .footer {
  padding: 0 1rem;
}

.App .button {
  cursor: pointer;
}

@media (min-width: 768px) {
  .App-inner {
    overflow: visible;
    max-width: 768px;
  }
}