.App-inner {
  padding: 0 0 1rem;
  transition: padding 500ms ease-out;
  position: relative;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.App a,
.App a:visited {
  transition: background-color 250ms ease-out, color 250ms ease-out;
  padding: 0 0.3rem;
  background-color: #000;
  color: white;
}

.App a[target="_blank"] {
  background-color: #000;
  color: #fff;
}

.App a[href*="mailto:"] {
  /* background-color: orange; */
  /* background-color: #dc9c4f; */
  color: #fff;
}

.App a:hover {
  /* background: #dc9c4f; */
  background-color: #B06B19;
  color: #fff;
}

.App .work {
  padding: 0 1rem;
}

.App .footer {
  padding: 0 1rem;
}

.App .button {
  cursor: pointer;
}

@media (min-width: 768px) {
  .App-inner {
    overflow: visible;
    max-width: 768px;
  }
}

/* rgb(210, 155, 55), hex: d29b37 <- fun yellow
 * rgb(55, 110, 140), hex: 376e8c <- fun blue
 */