.Consent-Toaster {
  position: fixed;
  bottom: 0;
  transition: bottom 50ms ease-out;
  width: 100%;
  background: #376e8c;
  color: white;
}

.Consent-Toaster .toaster-body {
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .Consent-Toaster .toaster-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    max-width: 768px;
    margin: 0 auto;
  }
}

.Consent-Toaster .toaster-body p {
  margin: 0 auto;
  text-align: justify;
}

@media (min-width: 768px) {
  .Consent-Toaster .toaster-body p {
    text-align: left;
    padding: 0 1rem 0 0;
  }
}

.Consent-Toaster .toaster-body iframe {
  vertical-align: middle;
  margin: 0 1rem 0;
}

.Consent-Toaster .dismiss-toaster {
  border: 0;
  color: white;
  background: #376e8c;
  cursor: pointer;
  position: absolute;
  top: -1.25rem;
  left: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1px;
  font-weight: bold;
}

.Consent-Toaster .dismiss-toaster:hover {
  color: #202020;
}

.Consent-Toaster .toaster-body .consent-choice {
  display: flex;
  flex-basis: 48%;
  margin: 0.5rem auto 0;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .Consent-Toaster .toaster-body .consent-choice {
    margin: 0;
  }
}

.Consent-Toaster .toaster-body .consent-choice .button {
  background: white;
  padding: 0.25rem 1.125rem;
  border-radius: 1px;
  border: 0;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 48%;
  line-height: 1;
  transition: background-color 250ms ease-out, color 350ms ease-out, box-shadow 250ms ease-out;
  text-transform: uppercase;
}

.Consent-Toaster .toaster-body .consent-choice .button:hover {
  background: #202020;
  color: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

/* 
 * ReactCSSTransitionGroup Mount & Unmount
 */
.toaster-appear {
  bottom: -50vh;
}
.toaster-appear.toaster-appear-active {
  bottom: 0;
  transition: bottom 500ms ease-out;
}
.toaster-leave {
  bottom: 0;
}
.toaster-leave.toaster-leave-active {
  bottom: -50vh;
  transition: bottom 500ms ease-out;
}

