.consent-toaster {
  background-color: #ccc;
  border-top: 2px solid #000;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  transition: bottom 250ms ease-out;
  width: 100%;
  box-sizing: border-box;
}

.consent-toaster .dismiss-toaster {
  position: absolute;
  top: -0.9rem;
  right: 0.5rem;
  background-color: #eee;
  padding: 0.125rem 0.35rem;
  border-radius: 50%;
  border: 2px solid #000;
  font-weight: bold;

  transition: background-color 250ms ease-out, color 250ms ease-out;
}

.consent-toaster .dismiss-toaster:hover {
  background-color: #000;
  color: #fff;
}

.consent-toaster .consent-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.consent-toaster .consent-options .consent-choice {
  display: flex;
  justify-content: space-evenly;
  min-width: 140px;
}

.consent-toaster .consent-options .consent-choice .button {
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);

  transition: background-color 250ms ease-out, color 250ms ease-out;
}

.consent-toaster .consent-options .consent-choice .button:hover {
  /* box-shadow: 2px 2px rgba(0, 0, 0, 0.2); */
  background-color: #000;
  color: #fff;
}

/* MOUNT / UNMOUNT ANIMATIONS
 * powered by `ReactCSSTransitionGroup`
 */
.consent-toaster-appear {
  bottom: -50vh;
}
.consent-toaster-appear.consent-toaster-appear-active {
  bottom: 0;
  transition: bottom 500ms ease-out;
}
.consent-toaster-leave {
  bottom: 0;
}
.consent-toaster-leave.consent-toaster-leave-active {
  bottom: -50vh;
  transition: bottom 500ms ease-out;
}

