.consent-toaster-wrap {
  position: fixed;
  bottom: 0;
  transition: bottom 250ms ease-out;
  width: 100%;
  /* box-sizing: border-box; */

}

.consent-toaster {
  background-color: #fff;
  border-top: 1px solid #000;
  /* position: fixed; */
  /* bottom: 0; */
  padding: 0.5rem;
  /* transition: bottom 250ms ease-out; */
  /* width: 100%; */
  box-sizing: border-box;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .consent-toaster {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1.75rem 0.5rem 0.5rem;
  }
}

.consent-toaster p {
  margin: 0;
}

@media (min-width: 768px) {
  p {
    flex-basis: 60%;
  }
}

.consent-toaster .dismiss-toaster {
  position: absolute;
  top: -1.5rem;
  right: 0.5rem;
  /* background-color: #eee; */
  background-color: #fff;

  padding: 0.125rem 0.35rem;
  border: 0;
  font-weight: bold;
  transition: background-color 250ms ease-out, color 250ms ease-out;
}

@media (min-width: 768px) {
  .consent-toaster .dismiss-toaster {
    top: 0.85rem;
  }
}

.consent-toaster .dismiss-toaster:hover {
  background-color: #5ccdec;
  color: #fff;
}

.consent-toaster .consent-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .consent-toaster .consent-options {
    flex-basis: 38%;
  }
}

.consent-toaster .consent-options .span {
  display: flex;
  flex-basis: 48%;
  margin: 0.5rem 0 0;
  justify-content: center;
}

@media (min-width: 768px) {
  .consent-toaster .consent-options .span {
    margin: 0;
  }
}

.consent-toaster .consent-options .span .aside a {
  line-height: 2.1;
  padding: 0.3rem;
}

.consent-toaster .consent-options .span.consent-choice {
  justify-content: space-between;
}

.consent-toaster .consent-options .consent-choice .button {
  padding: 0.5rem 1.25rem;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 48%;
  transition: background-color 250ms ease-out, color 250ms ease-out;
  text-transform: uppercase;
}

.consent-toaster .consent-options .consent-choice .button:hover {
  background-color: #5ccdec;
  color: #fff;
}

/* MOUNT / UNMOUNT ANIMATIONS
 * powered by `ReactCSSTransitionGroup`
 */
.consent-toaster-appear {
  bottom: -50vh;
}
.consent-toaster-appear.consent-toaster-appear-active {
  bottom: 0;
  transition: bottom 500ms ease-out;
}
.consent-toaster-leave {
  bottom: 0;
}
.consent-toaster-leave.consent-toaster-leave-active {
  bottom: -50vh;
  transition: bottom 500ms ease-out;
}

